<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="nav-container">
            <a href="/" class="logo">
                <img src="https://cdn.dorik.com/6587cf2393037000111f0b06/images/logo-b16Cp.png" alt="Logo">
            </a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/forum/">Forum</a></li>
                <li class="dropdown">
                    <a class="drop-trigger">Blog</a>
                    <ul class="dropdown-content">
                        <li style="list-style-type: none; border-radius: 12px;"><a style="border-radius: 12px;"
                                href="/essay/">Essay</a></li>
                        <li style="list-style-type: none; border-radius: 12px;"><a style="border-radius: 12px;"
                                href="/books/">Books</a></li>
                        <li style="list-style-type: none; border-radius: 12px;"><a style="border-radius: 12px;"
                                href="/podcasts/">Podcasts</a></li>
                    </ul>
                </li>

                <li><a href="/contact/">Contact</a></li>
                <li>
                    {% if request.user.is_authenticated %}
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">
                            Log Out
                        </button>
                    </form>

                    {% else %}
                    <a href="{% url 'login' %}">
                        Sign In
                    </a>
                    {% endif %}
                </li>

            </ul>

            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
    </nav>
    {% if user.is_authenticated %}  
    <h2 class="create-forum-style">Create new theme for forum</h2>

    <!-- create_topic.html -->
    <form class="forum-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="forum-submit-button" type="submit">Create Topic</button>
    </form>
    {% else %}
    <h2>Please <a href="/login/"> sign up</a> to create a new forum topic </h2>
    {% endif %}


    <script src="{% static 'js/index.js' %}"></script>

</body>

</html>